.navbar {
  background-color: rgba(0, 0, 0, 0.594);
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-contents {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 240px;
  list-style-type: none;
  font-weight: bold;
}

.navbar-sections > li {
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
  padding-bottom: 8px;
}

.link:hover {
  border-bottom: 4px solid white;
  border-radius: 4px;
}

.logo {
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
