.banner-img__movies {
    width: 100vw;
    height: 85vh;
}

.header {
    width: 100vw;
    height: 85vh;
}

.search-container {
    /* border: 2px solid green; */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 40vw;
    height: 8vh;
    font-size: 22px;
    padding: 0px 10px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid black;

}

.submit-btn {
    padding: 10px 28px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 15%;
}

.submit-btn:active {
    transform: scale(0.98);
}

.header-title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 50px;
}

.header-container {
    color: white;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 80vw;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}