.profile > img {
    width: 80px;
    border-radius: 8px;
}

.profile > p {
    font-size: 12px;
    margin: 0px;
}

.cast-block {
    display: flex;
    flex-direction: column;
    /* border: 2px solid wheat; */
}

.cast-block > h2 {
    margin: 10px 0px
}

.profiles-container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}