.movieinfo {
  z-index: 8;
  color: white;
  width: 70%;
  height: 75vh;
  position: absolute;
  top: 20%;

  display: flex;
  justify-content: space-between;
}

.badge-container {
  padding: 18px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.movieinfo-content {
  width: 70%;
  height: 100%;
  text-align: justify;
}

.movieinfo-content > * {
  margin: 0px;
}

@media screen and (max-width: 674px) {
  .movieinfo{
    width: 98vw;
  }

  .movieinfo > .simple-card {
    display: none;
  }

  .movieinfo-content {
    width: 100%;
    position: absolute;
  }

  .badge-container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 889px) {
  .movieinfo {
    width: 78vw;
  }
}