.btn {
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: 0.5s;
}

.btn:active {
    transform: scale(0.98);
}

.btn:hover {
    background-color: white;
    color: red;
    transform: scale(1.1);
}