.card {
    width: 220px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
    margin-right: 4%;
    text-align: justify;
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.card-link {
    color: white;
    text-decoration: none;
    text-align: center;
}

.card-name {
    font-size: 18px;
    margin: 4px 0px;
    font-weight: bold;
    text-justify: center;
}

.card-img {
    width: 220px;
    border-radius: 15px;
}